#box {
  padding: .2rem .3rem 1rem .3rem;
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #e16971;
  animation-name: animar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

body {
  background-color: #fafafa;
}

@keyframes animar{
  0% {
    left: 0;
    top: 0;
  }
  10% {
    left: 5rem;
    top: 0rem;
  }
  30% {
    top: 5rem;
    left: 5rem;
  }
  60%{
    top: 5rem;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}